<!DOCTYPE html>
<html>
    <head>
        <title>Meal Finder</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=Catamaran|Comfortaa|Dosis" rel="stylesheet">
    </head>
    <body>